<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Insert title here</title>
</head>
<body>


	<nav class="navbar navbar-expand-lg bg-light navbar-light text-white bg-dark">
		<div class="container-fluid">
			 <div class="collapse navbar-collapse show" id="navbarDark">
			 	<ul class="navbar-nav me-auto mb-2 mb-xl-0">
					<span class="font-weight-bold mr-1">Admin</span>
        			<span class="mr-1">with roles:</span>
        			<span>ROLE_ADMIN</span>
        		</ul>
			 </div>	
			<form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
   				<button type="submit" class="btn btn-dark text-secondary my-2 my-sm-0">Logout</button>
   			</form>
		</div>
	</nav>


	<div class="container-fluid">
		<div class="row">
    		<div class="p-0 col-2">
      			<div class="nav flex-column nav-pills pt-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        			<a class="nav-link active" href="/admin/users/" sec:authorize="(hasRole('ROLE_ADMIN'))"aria-controls="v-pills-home" aria-selected="true">Admin</a>
      				<tr th:each="user : ${users}">
      					<td><a class="nav-link"  th:if="${user.isNotAdmin()}"  th:text="${user.getName()}" th:href="@{/admin/users/{id}(id=${user.getId()})}"   sec:authorize="(hasRole('ROLE_ADMIN'))"role="tab"aria-controls="v-pills-profile" aria-selected="false"></a></td>
      				</tr>
      			</div>
   			</div>
   			
   			<div class="px-0 col-10">
				<div class="container-fluid">
					<h1>Admin panel</h1>
					
					
					
					
					
				
		
			<div class="tabbable" id="tabs-662057">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link active show" href="#tab1" data-toggle="tab">User table</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#tab2" data-toggle="tab">New user</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="tab1">
						
						
						
						<div class="tab-content">
          				<div class="tab-pane fade show active">
          					<div class="card">
              					<div class="card-header">
          							<h4>All users</h>
          						</div>
          						<div class="card-body">
                					<table class="table table-hover">
                  						<tr>
                    						<th>ID</th>
                    						<th>Name</th>
                    						<th>Available Sum</th>
                    						<th>Role</th>
                    						<th>Edit</th>
                    						<th>Delete</th>
                  						</tr>
                  						<tr th:each="user, state : ${users}">
                  							<td th:text="${user.getId()}"></td>
                  							<td th:text="${user.getName()}"></td>
                  							<td th:text="${user.getWallet()}"></td>
                  							<td th:text="${user.getRoleNames()}"></td>
                  							<td>
                  								
											<!-- EDIT -->		
													
											<a id="modal-927967" href="#modal-container-927967" role="button" class="btn btn-info" data-toggle="modal" data-target="#editModal"
                                                    th:data-target="${'#edituser'+user.getId()}">Edit</a>
											<div class="modal fade" id="modal-container-927967" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" th:id="${'edituser'+user.getId()}">
												<div class="modal-dialog" role="document">
													<div class="modal-content">
														<div class="modal-header">
															<h5 class="modal-title" id="myModalLabel">
																Edit user
															</h5> 
															<button type="button" class="close" data-dismiss="modal">
																<span aria-hidden="true">×</span>
															</button>
														</div>
														<div class="modal-body">
															
															
															<form align="center" class="offset-md-3 col-md-6" th:align="center" th:method="POST" th:action="@{/admin/users/{id}(id=${user.getId()})}">
																
																<label for="name3"><b>Id</b></label>
								                                <input th:name="name" th:type="text" th:value="${user.getId()}" class="form-control" id="name3" disabled/>
																
																<label for="name3"><b>Name</b></label>
								                                <input th:name="name" th:type="text" th:value="${user.getName()}" class="form-control" id="name3" required/>
								
								
								                                <label for="sum"><b>Sum</b></label>
								                                <input th:name="wallet" th:value="${user.getWallet()}" th:type="number" class="form-control" id="sum"
							                                       required/>
							

								                                <label for="password3"><b>Password</b></label>
								                                <input th:name="password" th:type="password" class="form-control" id="password3"
								                                       required/>
								
								                                <label for="roles3"><b>Role</b></label>
								                                <select multiple class="form-control form-control-sm" id="roles" name="role"
								                                        size="2" required>
								                                    <option value="1">ADMIN</option>
								                                    <option value="2" selected>USER</option>
								                                </select>
																<br>
								                                <div class="modal-footer">
								                                	<button type="button" class="btn btn-secondary" data-dismiss="modal">
																		Close
																	</button>
																	<button th:type="submit" class="btn btn-primary" value="Edit user">
								                                    	Edit
								                                	</button> 
																</div>  
															</form>
														</div>
													</div>
												</div>
											</div>
                  							</td>
                  							<td>
                  								<!-- DELETE -->		
													
											<a id="modal-14" href="#modal-container-14" role="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"
                                                    th:data-target="${'#deleteModal'+user.getId()}">Delete</a>
											<div class="modal fade" id="modal-container-14" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" th:id="${'deleteModal'+user.getId()}">
												<div class="modal-dialog" role="document">
													<div class="modal-content">
														<div class="modal-header">
															<h5 class="modal-title" id="deleteModalLabel">
																Delete user
															</h5> 
															<button type="button" class="close" data-dismiss="modal">
																<span aria-hidden="true">×</span>
															</button>
														</div>
														
															
															
														<form align="center" class="offset-md-3 col-md-6 " th:align="center" th:method="DELETE" th:action="@{/admin/users/{id}/remove(id=${user.getId()})}">
															<div class="modal-body text-center">
															
																<div class="form-group">
																	<label class="col-form-label" for="name3"><b>Id</b></label>
									                                <input th:name="name" th:type="text" th:value="${user.getId()}" class="form-control" id="name3" disabled/>
																</div>
																<div class="form-group">
																	<label class="col-form-label" for="name3"><b>Name</b></label>
									                                <input th:name="name" th:type="text" th:value="${user.getName()}" class="form-control" id="name3" disabled/>
																</div>
																<div class="form-group">
									                                <label class="col-form-label" for="sum"><b>Sum</b></label>
									                                <input th:name="wallet" th:value="${user.getWallet()}" th:type="number" class="form-control" id="sum"disabled/>
																</div>
																<div class="form-group">
									                                <label class="col-form-label" for="password3"><b>Password</b></label>
									                                <input th:name="password" th:type="password" class="form-control" id="password3"
								                                       disabled/>
																</div>
								                                <label class="col-form-label" for="roles3"><b>Role</b></label>
								                                <select multiple class="form-control form-control-sm" id="roles" name="role"
								                                        size="2" disabled>
								                                    <option value="1">ADMIN</option>
								                                    <option value="2" selected>USER</option>
								                                </select>
															</div>	
															<div class="modal-footer">
															<button type="button" class="btn btn-secondary" data-dismiss="modal">
																Close
															</button>
															<button th:type="submit" class="btn btn-danger" value="Delete user">
						                                    	Delete
						                                	</button> 
														</div> 
														</form>
														
													</div>
												</div>
											</div> 
                  							</td>
                  						</tr>
                					</table>
          						</div>
          					</div>	
          				</div>
					</div>
						
						
						
					</div>
					<div class="tab-pane" id="tab2">
						
						
						<div class="tab-content">
          				<div class="tab-pane fade show active">
          					<div class="card">
              					<div class="card-header">
          							<h4>Add new user</h>
          						</div>
          						<div class="card-body">
          						
          							 <form align="center" class="offset-md-4 col-md-3 mt-4 mb-4" th:align="center"
                                  th:action="@{/admin/new}" th:object="${usero}" method="POST">

                                <label for="name3"><b>Name</b></label>
                                <input th:field="*{name}" th:type="text" class="form-control" id="name3"
                                       required/>


                                <label for="sum"><b>Sum</b></label>
                                <input th:field="*{wallet}" th:type="number" class="form-control" id="sum"
                                       required/>


                                <label for="password3"><b>Password</b></label>
                                <input th:field="*{password}" th:type="password" class="form-control" id="password3"
                                       required/>

                                <label for="roles3"><b>Role</b></label>
                                <select multiple class="form-control form-control-sm" id="roles" name="role"
                                        size="2" required>
                                    <option value="1">ADMIN</option>
                                    <option value="2" selected>USER</option>
                                </select>

                                <br>
                                <button th:type="submit" class="btn btn-success" value="Add new user">
                                    Add new user
                                </button>
                            </form>
          						
          						</div>
          					</div>
          				</div>
						</div>		
						
						
						
						
						
					</div>
				</div>
			</div>
		
	
	
	
	
	
					
				</div>	
   			</div>
		</div>
	</div>









	
	
	
	

	
	
	
	
	
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>		
</body>
</html>